.sidebar {
  flex: 0.3;
  min-height: calc(100vh - 50px);
  height: auto !important;
  background: linear-gradient(0deg, #1897c1, #f9ad69);
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  color: #fff;
  position: sticky;
  top: 100px;
}

.sidebar__header {
  display: flex;
  font-size: 1.3rem;
  /* align-items: center; */
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  position: sticky;
  top: 50px;
}

.sidebar__headerIcon {
  color: #fff;
  width: 40px !important;
  height: 40px !important;
}

.sidebar__body {
  position: sticky;
  top: 150px;
  overflow: scroll;
}
